*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'DynaPuff', cursive;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    object-fit: cover;
}

svg {
    width: 100%;
}

/*Header*/
.header{
    background-image: radial-gradient(#2a2929 2px, transparent 2px), radial-gradient(#2a2929 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: #302f2f;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu {
    width: 95%;
    margin-inline: auto;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
}
@media(min-width:768px){
    .menu{
        flex-direction:row;
    }
}
.logo{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.logo a{
    color: white;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid white;
    padding: 5px;
    border-radius: 8px;
}

.logo img {
     width: 40px;
     height: 40px;
     cursor: pointer;
}
@media (min-width: 768px) {
    .logo img{
        display: none;
    }
}
.navegacion{
    flex: 1;
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateY(-130%);
    transition: transform .5s ease;
    background-image: radial-gradient(#2a2929 2px, transparent 2px), radial-gradient(#2a2929 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: #302f2f;
}
@media (min-width:768px) {
    .navegacion{
        position: static;
        transform: translateY(0%);
    }
}

.navegacion--dinamico{
    top:60px;
    transform: translateY(0%);
}

.navegacion--lista{
    padding-block: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
@media(min-width:768px) {
    .navegacion{
        flex-direction: column;
        padding-block: 0;
    }
}

.navegacion--lista li{
    width: 100%;
    text-align: center;
}

.navegacion--lista li a{
    display:block;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.navegacion--lista li a:hover{
    background-color: rgba(0,0,0,0.539);
    color: white;
}

/*Banner*/

.banner{
    background-image: linear-gradient(45deg, #ff4747 50%, transparent 50%);
    background-size: 20px 20px;
    background-color: #E70112;
    overflow: hidden;
}

.banner--contenedor{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

@media (min-width: 768px){
    .banner--contenedor{
        flex-direction: row;
    }
}
.banner--info{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding-block: 20px;
    color: white;
}
@media(min-width: 768px){
    .baner--info{
        align-items: start;
        text-align: start;
        width: 50%;
    }
}
.banner--info h1 {
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.banner--info a{
    border: 5px solid white;
    background-color: white;
    font-weight: 900;
    color: black;
    border-radius: 10px;
    padding-block: 5px;
    padding-inline:15px;
    transition: all .5s ease;
}

.banner--info a:hover{
    transform: scale(1.2);
    background-color: #302f2f;
    color: white;
    border-color: white;
}

.banner--image{
    position:relative;
}

.banner--image picture:first-child img{
    animation: imagenUno 5s infinite linear;
}

.banner--image picture:last-of-type img{
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 100%;
    animation: imagenDos 5s infinite linear;
}
@keyframes imagenUno{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes imagenDos{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/*Nubes*/
.nubes-svg{
    background-image: linear-gradient(45deg, #ff4747 50%, transparent 50%);
    background-size: 20px 20px;
    background-color: #E70112;
}

/*Main*/
.personajes{
    background-color: red;
    margin-top: -10px;
    padding: 50px;
    overflow: hidden;
    background-image: radial-gradient(rgba(41, 40, 40, 0.15) 2px, transparent 2px);
    background-size: 32px 32px;
    background-color: #ffffff;
}

.personajes h2 {
    text-align: center;
}

.personajes p{
    color: #2a2929;
    text-align: center;
    padding: 20px;
}

.cards{
    display: grid;
    width: 60%;
    margin-inline:auto;
    gap: 10px;
}

@media (min-width:480px) {
    .cards{
        grid-template-columns: 1fr 1fr;
        width: 80%;
        gap: 50px;
    }
}
@media (min-width:768px) {
    .cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 90%;
        gap: 80px;
    }
}

.cards li{
    position: relative;
}

.card {
    transition: all .3s ease;
}
.card picture:first-child img{
    box-shadow: 0 60px 60px -60px rgba(41, 40, 40, 0.15);
    border-radius: 4px;
}

.card picture:last-child img{
    position: abosolute;
}